<?xml version="1.0"?>
  <table name="settings" type="normal" comments="system settings">
  <columns>
    <column name="name"  type="varchar2(128)"  nullable="n"/>
    <column name="value" type="varchar2(4000)" nullable="n"/>
  </columns>
  <constraints>
    <constraint name="pk_settings" type="primary key" columns_list="name"/>
  </constraints>
</table>
